{% extends "layout_admin.html" %}

{% block head %}
{% endblock %}

{% block content%}

{% from "macro.html" import form_prov %}

<main>
    <div class="container-fluid px-4">
        <div class="card mb-4">
            <div class="card-body">
                <form action="/admin/proveedores/actualizar/{{edita.0}}/{{edita.1}}" method="POST"
                    enctype="multipart/form-data">

                    <h4>REGISTRO DE PROVEEDORES</h4>
                    <hr>

                    <div class="group">

                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <table class="table_form">
                            <!------ CAMPO DOCUMENTO / DOCUMENTE FIELD  ------->
                            <tr>
                                <td class="label_td">
                                    <label for="ced_nit" class="label">
                                        Tipo de documento:
                                    </label>
                                </td>

                                {{form_prov(formulario_prov.tipo_doc, class="form-control", value=edita.0)}}

                                <td class="label_td">
                                    <label for="num_ident" class="label">
                                        Número de documento:
                                    </label>
                                </td>

                                {{form_prov(formulario_prov.num_iden, class="form-control", value=edita.1, placeholder="000000000",
                                minlength="5", maxlength="10", value=edita.1)}}

                            </tr>

                            <!------ CAMPO DEL NOMBRE DE LA PERSONA O ENTIDAD  / NAME FIELD OF THE PERSON OR ENTITY ------->
                            <tr>
                                <td class="label_td">
                                    <label for="nombre" class="label">
                                        Nombre o Razon Social:
                                    </label>
                                </td>

                                {{form_prov(formulario_prov.nombre_razonsocial, class="form-control", value=edita.2,
                                placeholder="Nombre",
                                minlength="5", maxlength="60")}}

                                <td class="label_td">
                                    <label for="email" class="label">
                                        Email:
                                    </label>
                                </td>

                                {{form_prov(formulario_prov.email, class="form-control", value=edita.3,
                                placeholder="Example@Email.com",
                                minlength="5", maxlength="60", type="emial")}}

                            </tr>

                            <tr>

                                <td class="label_td">
                                    <label for="telefono" class="label">
                                        Telefono:
                                    </label>
                                </td>
                                {{form_prov(formulario_prov.telefono, class="form-control", value=edita.4,
                                placeholder="telefono",
                                minlength="5", maxlength="15")}}

                                <td class="label_td">
                                    <label for="direccion" class="label">
                                        Dirección:
                                    </label>
                                </td>

                                {{form_prov(formulario_prov.direccion, class="form-control", value=edita.5,
                                placeholder="Calle # -",
                                minlength="5", maxlength="60")}}

                            </tr>
                            <tr>
                                <td colspan="4">
                                    <input type="submit" class="button" value="Actualizar proveedores" id="editarBtn"
                                        onclick="editConfirmation()">
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer%}
{% endblock %}