<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<h4>Cordial saludo,</h4>

	<h4>De conformidad con el artículo 1.6.1.13.2.40 del Decreto 2487 del 16 de diciembre 2022 y
		atendiendo su solicitud realizada en la página certificadosproveedores.ugca.edu.co el día
		{{ fecha }}, nos permitimos hacer entrega de los certificados de retención en la
		fuente año gravable 2022.</h4>

	<center><h3>PLAZOS PARA EXPEDIR CERTIFICADOS</h3></center>

	<h4>“ARTÍCULO 1.6.1.13.2.40. Obligación de expedir certificados por parte del
		agente retenedor del impuesto sobre la renta y complementario y del gravamen a los
		movimientos financieros -GMF. Los agentes retenedores del impuesto sobre la renta y
		complementario y los del gravamen a los movimientos financieros -GMF, deberán expedir
		a más tardar el treinta y uno de marzo de 2023, los siguientes certificados por el año
		gravable 2022:</h4>

	<h4>1. Los certificados de ingresos y retenciones por concepto de pagos originados en la
		relación laboral o legal y reglamentaria a que se refiere el artículo 378 del Estatuto
		Tributario.</h4>

	<h4>2. Los certificados de retenciones en la fuente por conceptos distintos a pagos
		originados en la relación laboral o legal y reglamentaria, a que se refiere el artículo
		381 del Estatuto Tributario y del gravamen a los movimientos financieros -GMF.</h4>

</html>